@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-extrabold font-notoSans tracking-tight text-gray-900;
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold font-notoSans tracking-tight text-gray-800;
  }
  h3 {
    @apply text-2xl md:text-3xl font-semibold font-notoSans tracking-tight text-gray-700;
  }
  h4 {
    @apply text-xl md:text-2xl font-medium text-gray-700;
  }
  h5 {
    @apply text-lg md:text-xl font-roboto font-medium text-gray-600;
  }
  h6 {
    @apply text-base md:text-lg font-medium text-gray-500;
  }
  p {
    @apply text-sm md:text-base font-roboto text-gray-600 leading-relaxed;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans), var(--font-roboto) sans-serif;
}

.custom-btn {
  @apply py-2 px-10 text-white bg-primary font-robotoCondensed rounded-sm hover:bg-red-700 transition duration-300;
}
